<h1>Detail Page for Student</h1>

<div>
    <div><h1>Name:  <%= @student %></h1></div>
</div>


<!-- <a href="/students">Back to Snack Index Page</a> -->
<%= link_to "Back to Students Index Page", students_path %>